/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICHE */

body {
    background-color: #999;
    font-family: Arial, Helvetica, sans-serif;
}

.widht30 {
    width: 30%;
}

.widht70 {
    width: 70%;
}

.marginBtm2Em {
    margin-bottom: 2em;
}

/* flex */

.flex {
    display: flex;
}

.dirColumn {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-items: center;
}

/* ///////////////// */

/* ELEMENTI PAGINA*/


/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header span {
    padding: 1.5em 1.5em;
    font-size: 13px;
}

/* ///////////////// */

/* MAIN */

#jumboSection {
    width: 100vw;
    padding-top: 100px;
    background-color: #b4d0e7;
    
}

h1 {
    font-size: 60px;
    width: 60vw;
    margin: auto;
    padding: 1rem;
}

.jumboBox {
    width: 60vw;
    margin: auto;
    padding: 2rem 1em 0;
    height: 400px;
}

.quadrato {
    width: 700px;
    height: 450px;
    background-color: deeppink;
}

.jumboImg {
    width: 100%;
}
