/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICHE */

body {
    font-family: 'Open Sans', sans-serif;
}

.width33 {
    width: calc(100% / 3);
}

.width1-3 {
    width: calc(90% / 3);
}

.width100vw {
    width: 100vw;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.width {
    width: 100%;
}

.marginBtm2Em {
    margin-bottom: 2em;
}

.marginBottom1Rem {
    margin-bottom: 1rem;
}

.marginLeft1Rem {
    margin-left: 1rem;
}

/* flex */

.flex {
    display: flex;
}

.dirColumn {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
} 

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}


/* position */

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

.posTopRight {
    top: 0px;
    right: 0px;
}

.floatRight { 
    float: right;
}

/* ///////////////// */

/* ELEMENTI PAGINA*/


/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header span {
    padding: 1.5em 1.5em;
    font-size: 13px;
}

/* ///////////////// */

/* MAIN */

/* jumbosection */

#jumboSection {
    width: 100vw;
    padding-top: 100px;
    background-color: #b4d0e7;

}

h1 {
    font-size: 60px;
    width: 60vw;
    margin: auto;
    padding: 1rem;
}

.jumboBox {
    width: 60vw;
    margin: auto;
    padding: 2rem 1em 0;
    /* height: 400px; */
}

.jumboImg {
    width: 110%;
}

/* business plan section */

.smallSection {
    width: 53vw;
    margin: auto;
    padding-top: 150px;
    background-color: white;
}

.columnBusiness {
    height: 950px;
    border: 1px solid black;
    background-color: white;
}

h2 {
    font-size: 30px;
}

input {
    margin-bottom: 3em;
}

.colTitle {
    text-align: center;
    margin: 0;
}

.columnBusiness > * {
    margin: 1.5rem;
}

.rowBusiness {
    width: 100%;
    height: 100px;
    height: 250px;
    margin-top: 3rem;
    border: 1px solid black;
}

.boxImg {
    width: 60%;
}

.imgBoxed {
    width: 100%;
}

#partnerImg {
    width: 100%;
}

.textBox {
    width: 40%;
}

.featureImg {
    width: 100%;
}

.squareImg {
    width: 50%;
}

.squareDiv {
    width: 50%;
    height: 50%;
}

.squareBox {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.smallSquare {
    width: 50%;
    height: 50%;
}

#designitBox {
    background-color: #a2d39b;
    border: 1em solid #d1e9cd;
}

#asuBox {
    background-color: #61082b;
}

#ufBox {
    background-color: #0093ce;
}

#toppsBox {
    background-color: #ff1c1c;
}

#worldBicycleBox {
    background-color: #d5001f;
}

#hearstBox {
    background-color: #b4d0e7;
}

#lonelyPlanetBox {
    background-color: #0d2481;
}

#clearChannelBox {
    background-color: #ffd830;
}

.logoPartner {
    width: 50%;
    filter: invert(1);
}

.scrollBox {
    background-color: #f5f5f5;
    overflow-y: scroll;
    overflow-x: hidden;
}

#freeTrialSection {
    height: 360px;
    background-color: #b4d0e7;
}

#freeTrialBox {
    width: 53vw;
}














