/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HELPERS */

.padding1em {
    padding: 1em;
}

.padding2Em {
    padding: 2em;
}

.padding1rem {
    padding: 1rem;
}

.padding2rem {
    padding: 2rem;
}

.padding3rem {
    padding: 3rem;
}



.margin1rem {
    margin: 1rem;
}

.marginY3rem {
    margin: 3rem 0;
}

.marginBtm1em {
    margin-bottom: 1em;
}

.marginBtm0_75em {
    margin-bottom: 0.75em;
}

.marginBtm2Em {
    margin-bottom: 2em;
}

.marginBottom1rem {
    margin-bottom: 1rem;
}

.marginBtm2rem {
    margin-bottom: 2rem;
}

.marginBtm3rem {
    margin-bottom: 3rem;
}

.marginBtm4rem {
    margin-bottom: 4rem;
}

.marginTop2rem {
    margin-top: 2rem;
}

.marginTop3rem {
    margin-top: 3rem;
}

.marginTop2em {
    margin-top: 2em;
}

.marginTop8rem {
    margin-top: 8rem;
}

.marginTop2_5em {
    margin-top: 2.5em;
}

.marginBottom5Em {
    margin-bottom: 5em;
}

.marginLeft1Rem {
    margin-left: 1rem;
}

.marginRight0_5em {
    margin-right: 0.5em;
}

.marginRight3em {
    margin-right: 3em;
}

.width33 {
    width: calc(100% / 3);
}

.width1-3 {
    width: calc(90% / 3);
}

.width100vw {
    width: 100vw;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.width {
    width: 100%;
}

/* flex */

.flex {
    display: flex;
}

.dirColumn {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
} 

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}


/* position */

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

.posTopRight {
    top: 0px;
    right: 0px;
}

/* fontsize */

.fontSize12px {
    font-size: 12px;
}

.fontSize14px {
    font-size: 14px;
}

.fontSize20px {
    font-size: 20px;
}

.fontSize34px {
    font-size: 34px;
}

/* ///////////////// */

/* ELEMENTI PAGINA*/

body {
    font-family: 'Open Sans', sans-serif;
}

.aNoStyle {
    text-decoration: none;
    color: black;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 2px 1px rgba(156,153,153,0.46);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(156,153,153,0.46);
    -moz-box-shadow: 0px 1px 2px 1px rgba(156,153,153,0.46);

}

header span {
    padding: 1.5em 1.5em;
}

.headerButton {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 0.5em 1em;
}

/* ///////////////// */

/* MAIN */

/* jumbosection */

#jumboSection {
    width: 100vw;
    background-color: #b4d0e7;
    height: 820px;

}

h1 {
    font-size: 70px;
    width: 1210px;
    margin-top: 160px;
    
}

.jumboBox {
    width: 1210px;
    margin: auto;
}

.jumboImg {
    width: 100%;
}

#linkArrow {
    bottom: 90px;
    font-size: 50px;
}

/* business plan section */

.smallSection {
    width: 1025px;
    margin: auto;
    padding-top: 150px;
}

.columnPlan {
    border: 1px solid grey;
}

input {
    margin-bottom: 3em;
}

.colTitle {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999;
}

ul {
    list-style: none;
}

.blueButton {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 1em;
}

.freeTrialButton {
    width: 100%;
    margin: 2em auto;
}

.columnPlan hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50px;
}

.fa-check {
    color: #0061ff;
}

.colorGray {
    color: #999;
}

.rowBusiness {
    width: 100%;
    margin-top: 3rem;
    border: 1px solid black;
}

#salesOfficeButton {
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 1em 3em;

}

/* section trova un partner */

.boxImg {
    width: 65%;
}

.imgBoxed {
    width: 100%;
}

#partnerImg {
    width: 100%;
}

.textBox {
    width: 35%;
    padding: 3rem;
}

.textBox > * {
    margin-bottom: 1.5rem;
}

.whiteButton {
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 1em;
}

/* section features */

.featureBox {
    width: calc(100% / 3 - 3rem)
}

.featureImg {
    width: 100%;
}

.squareImg {
    width: 50%;
}


/* section aziende partner */

.squareDiv {
    width: 50%;
    height: 50%;
}

.squareBox {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.smallSquare {
    width: 50%;
    height: 50%;
}

#designitBox {
    background-color: #a2d39b;
}

#asuBox {
    background-color: #61082b;
}

#ufBox {
    background-color: #0093ce;
}

#toppsBox {
    background-color: #ff1c1c;
}

#worldBicycleBox {
    background-color: #d5001f;
}

#hearstBox {
    background-color: #b4d0e7;
}

#lonelyPlanetBox {
    background-color: #0d2481;
}

#clearChannelBox {
    background-color: #ffd830;
}

.logoPartner {
    width: 50%;
    filter: invert(1);
}

.scrollBox {
    background-color: #f5f5f5;
    overflow-y: scroll;
    overflow-x: hidden;
}

.partnerFeedback {
    height: calc(100vw / 3); 
}

blockquote {
    line-height: 2rem;
}

.scrollBox img {
    width: 50%;
}

.squareBox hr {
    width: 20%;
}
 
/* section free trial */

#freeTrialSection {
    background-color: #b4d0e7;
}

#freeTrialBox {
    width: 1025px;
}

#freeTrialBox h2 {
    color: #61082b;
    margin: 4em 0;
}

#freeTrialBox button {
    right: 0px;
    bottom: calc(50%)
}

/* section FAQ */

#faqSection {
    margin-bottom: 100px;
}

.answer {
    display: none;
    margin-bottom: 2.5rem;
}

.question {
    padding: 2.5rem 0;
    border-top: 1px solid black;
   
}

.question:hover + .answer {
    display: block;
    pointer-events: none;
}

.question:hover i {
    transform: rotate(180deg);
}

/* footer */

footer {
    background-color: black;
    color: white;
    height: 500px;
}

.largeSection {
    width: 1210px;
    margin: auto;
}


